<!-- Page to register for an account -->
<!DOCTYPE html>
<html>
<head>
    <title>Magik8Ball Register</title>
    <link type="text/css" rel="stylesheet" href="../static/layout.css">
</head>
<body class="background">
    <!-- Page Title and Instructions -->
    <div class="div-tab">
        <a href="/login" class="login-button">Login</a>
    </div>
    <div class="div-tab">
        <a href="/" class="login-button">Home</a>
    </div>
    <div class="div-header">
        <h1 class="heading">Register</h1>
        <p>Make an account and keep track of your destiny!</p>
    </div>

    <!-- 8ball with submission form when hovering -->
    <span>
    <div class="registration_form">
        <form method='POST' action="">
            <div class = "msg">
                <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/></br></br>
                <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                <input type="submit" class="btn" value="Sign Up"></br>
                </div>
        </form>
    </div>
    </span>

    <script src="" type=""></script>
    <!-- <script src="js/webflow.js" type=""></script> -->
</body>
</html>
