<!-- User Account Page -->
<!DOCTYPE html>
<html>
<head>
  <title>Account Home Page</title>
  <link rel="stylesheet" href="../static/userhome.css" type="text/css">
</head>
<body class="background">
    <div class="div-user-space">
        <h1 class="heading">The Universe Welcomes [Name]!</h1>
        <div class="div-user-qs">
        <p class="caption">You can ask the ball [int] more questions. What question do you have for the Great8 ball?</p>
        <form>
            <input type="text" class="text-field" maxlength="75" placeholder="Will these new shoes I want fit in a smaller size?" required>
            <input type="submit" class="sumbit-button" value="ENTER">
            </form>
        </div>
        <div class="div-past-qs">
            
        </div>
    </div>

</body>
</html>