<!-- User Account Page -->
<!DOCTYPE html>
<html>
<head>
  <title>Account Home Page</title>
  <link rel="stylesheet" href="../static/userhome.css" type="text/css">
</head>
<body class="background">
    <div class="div-tab">
        <a href="/login" class="login-button">Switch account</a>
    </div>
    <div class="div-tab">
        <a href="/" class="login-button">Log out</a>
    </div>
    <div class="div-user-space">
        <h1 class="heading">The Universe Welcomes you!</h1>
        <div class="div-user-qs">
        <p class="caption">You can ask the ball more questions. What question do you have for the Great8 ball?</p>
        <form method="POST" action="">
            <input id="question" name="question" type="text" class="text-field" maxlength="75" placeholder="Will these new shoes I want fit in a smaller size?" required>
            <input type="submit" class="sumbit-button" value="ENTER">
            </form>
        </div>
        <div class="div-past-qs">
            <h1 class="history">
                {{answer}}
            </h1>
            <p class="history">
            <b>Here is the history of your questions!</b><br>
            {% for row in data %}
            {{row[2]}} &emsp; &emsp; {{row[3]}} &emsp; &emsp; {{row[4]}}
            <br>
            {% endfor %}
            </p>
    </p>
        </div>
    </div>

</body>
</html>