<!-- User Account Page -->
<!DOCTYPE html>
<html>
<head>
    <title>Magik8Ball User Page</title>
    <link type="text/css" rel="stylesheet" href="../static/layout.css">
</head>
<body class="background">
    <div class="div-tab">
        <a href="/login" class="login-button">Switch account</a>
    </div>
    <div class="div-tab">
        <a href="/" class="login-button">Log out</a>
    </div>

    <!-- Page Title and Instructions -->
    <div class="div-header">
        <h1 class="heading">Magik8Ball</h1>
        <p>Do you have a question you want to ask the universe?
        <br>Hover over the 8ball, type in your question and follow the words of the universe!</p>
    </div>

    <!-- 8ball with submission form when hovering -->
    <span>
    <div class="div-8ball">
        <div class="qform">
            <form method="POST" action="">
                    <label for="field">Question:</label>
                    <input id='question' name='question' type="text" class="text-field" maxlength="75" placeholder="Should I buy the red version of my favorite shirt?" required>
                    <input type="submit" class="sumbit-button" value="Guide Me">
            </form>
        </div>
    </div>
    <h1 class="history">
        {{answer}}
    </h1>
    <p class="history">
        {% for row in data %}
            {{row[2]}} &ensp; {{row[3]}} &ensp; {{row[4]}}
            <br>
        {% endfor %}
    </p>
    </span>


    <script src="" type=""></script>
    <!-- <script src="js/webflow.js" type=""></script> -->
</body>
</html>