<!-- User Account Page -->
<!DOCTYPE html>
<html>
<head>
    <title>Magik8Ball Home Page</title>
    <link type="text/css" rel="stylesheet" href="../static/layout.css">
</head>
<body class="background">

    <!-- Page Title and Instructions -->
    <div class="div-header">
        <h1 class="heading">Magik8Ball</h1>
        <p>Do you have a question you want to ask the universe?
        <br>Hover over the 8ball, type in your question and follow the words of the universe!</p>
    </div>

    <!-- 8ball with submission form when hovering -->
    <span>
    <div class="div-8ball">
        <div class="qform">
            <form action="">
                    <label for="field">Question:</label>
                    <input type="text" class="text-field" maxlength="75" placeholder="Should I buy the red version of my favorite shirt?" required>
                    <input type="submit" class="sumbit-button" value="Guide Me">
            </form>
        </div>
    </div>
    </span>

    <script src="" type=""></script>
    <!-- <script src="js/webflow.js" type=""></script> -->
</body>
</html>