
.background {
    overflow: visible;
    background-image: url("backgroundimg.jpg");
    background-position: 10% 10%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Site Tab */
.div-tab {
    max-height: 60px;
    min-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 30px;
    text-align: right;
}

.login-button {
    display: inline-block;
    max-height: 30px;
    min-height: 30px;
    padding: 16px 12px 8px 12px;
    border-radius: 18px;
    background-color: #2D194C;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: solid;
    font-size: 16px;
    border: 2px solid #fff;
}

.login-button:hover {
  background-color: #563b7e;
  color: #fff;
  border: 2px solid #fff;
}


/* Intro Header */
.div-header {
    margin-top: 30px;
}

.heading {
    margin-top: 10px;
    font-family: Varela, sans-serif;
    color: #fff;
    font-size: 52px;
    font-style: normal;
    text-align: center;
    line-height: 0px;
}

p {
    margin: 0px auto 0px auto;
    padding: 0px auto 0px auto;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

/* 8 Ball */

.div-8ball {
    overflow: visible;
    max-height: none;
    max-width: 400px;
    min-height: 400px;
    min-width: none;
    margin: 15px auto;
    border: 2px solid rgba(122, 113, 255, 0.61);
    border-radius: 20rem;
    background-color: #000;
    font-family: Varela, sans-serif;
    display: block;
    padding: 10px;
}

.answer {
    overflow: visible;
    color: white;
    text-align: center;
    text-shadow: #000;
    font-size: 2.5em;
    text-transform: capitalize;
    padding: auto;
    background-color: #000;
    width: 50%;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
}

.answer_2 {
    overflow: visible;
    color: black;
    text-align: center;
    text-shadow: #000;
    font-size: 2.5em;
    text-transform: capitalize;
    padding: auto;
    background-color: white;
    width: 50%;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
}

,div-past-qs {
    font-family: 'Varela Round', sans-serif;
}

.registration_form {
    margin: auto;
    width: 10%;
    padding-top: 10px;
}

.answers {
    color:#000;
    overflow: visible;
    font-family: 'Varela Round', sans-serif;
}

.history {
    color:#000;
    text-align: justify;
    overflow-y: auto;
    font-family: 'Varela Round', sans-serif;
}

.div-whiteball {
    width: auto;
    height: auto;
    max-width: 250px;
    min-height: 250px;
    border-radius: 20rem;
    background-color: #fff;
    display: block;
    margin: 65px auto;
    padding: 10px;
}

.img {
    content: url("eightball.png");
    width: 50%; 
    height: 50%;
    display: block;
    margin: 60px auto;
}


/* Question Form */

.qform {
    padding-top: 30px;
    display: none;
}

.div-8ball:not(:hover) > .div-whiteball{
    display: block;
}

.div-8ball:not(:hover) > .qform {
    display: none;
}

.div-8ball:hover > .div-whiteball {
    display: none;
}

.div-8ball:hover > .qform {
    display: block;
}

label {
    margin-bottom: 10px;
    font-family: Varela, sans-serif;
    color: #fff;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 100px 0px 0px;
}

.text-field {
    position: static;
    display: block;
    max-height: 120px;
    max-width: 375px;
    min-height: 40px;
    min-width: 375px;
    margin: 0px auto 20px auto;
    padding: 0px 0px;
    float: none;
    clear: none;
    border: 1px none #000;
    color: #000;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    border-radius: 10px;
    outline-color: #fff;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
    text-align: center;
    font-size: 14px;
}

.input[type=text] {
    overflow: scroll;
}

.submit-button {
    display: block;
    border-radius: 10px;
    background-color: #4c1da5;
    outline-color: #fff;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
    color: #fff;
}

input[type=submit] {
    border-radius: 10px;
    background-color: #4c1da5;
    outline-color: #fff;
    outline-offset: 10px;
    outline-style: none;
    outline-width: 3px;
    color: #fff;
    padding: 14px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    display: block;
    text-align: center;
    margin: 30px auto 20px auto;
}

input[type=submit]:hover {
  background-color: #8456d8;
  outline-color: #fff;
  border: 2px;

}
