<!DOCTYPE html>
<html>

<head>
    <title>Magik8Ball Home Page</title>
    <link rel="stylesheet" href="layout.css" type="text/css">
</head>

<body class="background">
    <!-- Page Title and Instructions -->
    <div class="div-block-2">
        <h1 class="heading-2">Magik8Ball</h1>
        <p class="paragraph">Do you have a question you want to ask the universe?
        <br>Hover over the 8ball, type in your question and follow the words of the universe!</p>
    </div>

    <!-- 8ball with submission form when hovering -->
    <div data-w-id='' style="display:block" class="div-block">
        <div class="form-block w-form">
            <form id="wf-form-8ball-Question" name="wf-form-8Ball-Question" data-name="8Ball Question" method="get" style="display:none" class="form">
                <label for="field" class="field-label">Question:</label>
                <input type="text" class="text-field w-input" maxlength="256" name="field" data-name="Field" placeholder="Should I buy the red version of my favorite shirt" id="field" required="">
                <input type="text" value="Guide Me" data-wait="The universe is responding..." class="submit-button w-button"></form>
            <div class="w-form-done">
                <!-- TODO: Replace with answer screen -->
                <div>Thank you! The 8ball has received your submission</div>
            </div>
            <div class="w-form-fail">
                <!-- TODO: Replace with error screen -->
                <div>Oops! Something went wrong with your submission.</div>
            </div>
        </div>
    </div>

    <!-- Full 8ball (no form) when not hovering -->
    <div style="-webkit-transform:translate3d(0, -310px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform:translate3d(0, -310px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform:translate3d(0, -310px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform:translate3d(0, -310px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform-style:preserve-3d" class="div-block-4">
    <!-- TODO: Update 8 ball image -->


    <script src="" type=""></script>
    <script src="js/webflow.js" type=""></script>

</body>

</html>