.background {
    overflow: visible;
    background-color: #000;
    background-image: url('../images/backgroundimg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    display: inline-block;
    max-width: 100%;
}

.heading {
    text-align: center;
}

.container {
    display: block;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-column: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    font-family: Palatino, serif;
}

.heading-2 {
    margin-top: 10px;
    font-family: Varela, sans-serif;
    color: #fff;
    font-size: 48px;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 1px 6px #000;
}

.paragraph {
    margin-top: 8px;
    margin-right: 80px;
    margin-left: 80px;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.field-label {
    margin-bottom: 14px;
    font-family: Varela, sans-serif;
    color: #fff;
    font-size: 20px;
}

.text-field {
    position: static;
    left: 0%;
    right: 0%;
    bottom: 0%;
    desplay: block;
    overflow: visible;
    max-height: 120px;
    max-width: 650px;
    min-height: 40px;
    min-width: 0px;
    margin 10px 0px 20px auto;
    padding: 6px 0px;
    float: none;
    clear: none;
    border: 1px none #000;
    border-radius: 10px;
    opacity: 1;
    color: #000;
    text-align: center;
    mix-blend-mode: normal;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}

.form {
    min-height: 100px;
    min-width: 100px;
    margin-top: 0px;
    border-left: 1px none #000;
    border-radius: 10px;
    outline-color: #110e0e;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
    font-family: 'Varela Round', sans-serif;
    color: #110e0e;
    text-align: center;
}

.div-block {
    overflow: visible;
    max-height: 0px;
    max-width: 400px;
    min-height: 400px;
    min-width: 0px;
    margin: 40px auto 0px;
    padding: 140px 20px 0px;
    border-style: none;
    border-width: 0px;
    border-color: #fff;
    border-radius: 20rem;
    background-color: #180a44;
    font-family: Varela, sans-serif;
}

.submit-button {
    border-radius: 10px;
    background-color: #4c1da5;
    outline-color: #fff;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
    color: #fff;
}

.div-block-2 {
    margin-top: 50px;
}

.form-block {
    margin-bottom: 0px
}

.div-block-3 {
    background-color: #000;
}

.div-block-4 {
    width: auto;
    height: auto;
    max-width: 220px;
    min-height: 220px;
    margin: auto;
    border-radius: 20rem;
    background-color: #fff;
}